//General
.btn{
    background: $MainColor;
    border-radius: 30px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 17px 31px;
    min-width: 160px;
    border: 1px solid transparent;
    transition: .3s all;
    display: inline-block;
    text-align: center;

    &:hover{
        color: $MainColor;
        background-color: transparent;
        border: 1px solid $MainColor;
        transition: .3s all;
    }
    &:focus{
        background: $MainColor;
    }

    &-arrow{
        position: relative;
        padding: 17px 50px;
        &::after{
            content: '\25b6';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 27px;
            font-size: 11px;
            
        }
    }
    &-center{
        width: fit-content;
        margin: 0 auto;
        float: none !important;
        display: table;
    }
    &-big{
        max-width: 320px;
        width: 100%;
    }

    &-reverse{
        background: #FFFFFF;
        border: 1px solid $MainColor;
        color: #022141;

        &:hover{
            background: $MainColor;
            color: #FFFFFF;
            transition: .3s all;
        }
    }
}

input[type="text"].bad{
    box-shadow: inset 0px 0px 2px 5px #9e0c0fde;
    border: 1px solid #9e0c0fde;
}
.show-more{
    background-color: transparent;
    padding: 0;
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $GeneralColor;
    margin: 0 auto;
    display: block;
    position: relative;

    &:hover,
    &:focus{
        background-color: transparent;
        color: $GeneralColor;
    }

    &::after{
        content: '\25bc';
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        color: $GeneralColor;
    }
}
h1{
    font-family: $FiraSans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;
    color: #FFFFFF;
}
h2{
    font-family: $FiraSans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
}
h3{
    font-family: $FiraSans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    color: #022141;
    margin-bottom: 66px;
}
p,ul > li{
    font-family: $FiraSans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #022141;
}
ul > li{
    list-style-type: none;
    position: relative;
}
ul > li::before {
    content: "\2022";
    color: #5FCC6A;
    font-weight: bold;
    display: inline-block;
    font-size: 28px;
    position: absolute;
    left: -15px;
  }

.top-bar .toggle-topbar.menu-icon a span{
    font-family: $FiraSans;
    font-weight: 400;
    color: #fff;
}

.custom-small-10{
    width: 86.33333%;
}

.uk-flag{
    border-radius: 50%;
    border: 3px solid #C2A57B;
    margin-right: 6px;
    box-sizing: content-box;
    flex-shrink: 0;
}
.green-arrow,
.green-check{
    flex-shrink: 0;
}

.expandable-box{
    overflow: hidden;

    .excerpt{
        margin-bottom: 25px;
        font-family: $FiraSans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #022141;
        p{
            margin: 0;
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #022141;
        }
    }

    .restText{
        max-height: 0;
        transition: .3s all;
        margin: 0;
        font-family: $FiraSans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #022141;

        p{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            color: #022141;
        }

        p:last-of-type{
            margin: 0;
        }
    }

    &.open{

        .restText{
            height:auto;
            max-height:1000px;
            transition: .3s all;
            margin-top: 15px;
        }

        .show-more{
            transition: .3s all;

            &::after{
                transform: rotateZ(180deg) translateY(50%);
                transition: .3s all;
            }
        }
    }
}

.dropdown-wrap{

    .head-wrap{
        p{
            margin: 0;
        }
    }

    .body-wrap{
        overflow: hidden;
        transition: 0.3s all;
        height: auto;
        max-height: 0;
        p{
            margin: 0;
        }
    }

    &.open{

        .body-wrap{
            max-height: 1000px;
            transition: 0.3s all;
        }
    }
}

.award-box{
    position: relative;

    span{
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        opacity: 0.7;
    }
}