$GeneralColor: #30475E;
$MainColor: #C2A57B;

@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans-SemiBold.eot');
    src: url('./fonts/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FiraSans-SemiBold.woff2') format('woff2'),
        url('./fonts/FiraSans-SemiBold.woff') format('woff'),
        url('./fonts/FiraSans-SemiBold.ttf') format('truetype'),
        url('./fonts/FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans-Bold.eot');
    src: url('./fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FiraSans-Bold.woff2') format('woff2'),
        url('./fonts/FiraSans-Bold.woff') format('woff'),
        url('./fonts/FiraSans-Bold.ttf') format('truetype'),
        url('./fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans-Light.eot');
    src: url('./fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FiraSans-Light.woff2') format('woff2'),
        url('./fonts/FiraSans-Light.woff') format('woff'),
        url('./fonts/FiraSans-Light.ttf') format('truetype'),
        url('./fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('./fonts/FiraSans-Regular.eot');
    src: url('./fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FiraSans-Regular.woff2') format('woff2'),
        url('./fonts/FiraSans-Regular.woff') format('woff'),
        url('./fonts/FiraSans-Regular.ttf') format('truetype'),
        url('./fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.eot');
    src: url('./fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto-Light.woff2') format('woff2'),
        url('./fonts/Roboto-Light.woff') format('woff'),
        url('./fonts/Roboto-Light.ttf') format('truetype'),
        url('./fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.eot');
    src: url('./fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto-Black.woff2') format('woff2'),
        url('./fonts/Roboto-Black.woff') format('woff'),
        url('./fonts/Roboto-Black.ttf') format('truetype'),
        url('./fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.eot');
    src: url('./fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto-Medium.woff2') format('woff2'),
        url('./fonts/Roboto-Medium.woff') format('woff'),
        url('./fonts/Roboto-Medium.ttf') format('truetype'),
        url('./fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot');
    src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff'),
        url('./fonts/Roboto-Regular.ttf') format('truetype'),
        url('./fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.eot');
    src: url('./fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto-Bold.woff') format('woff'),
        url('./fonts/Roboto-Bold.ttf') format('truetype'),
        url('./fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$FiraSans: 'Fira Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;

@import './css/general';
@import './css/fixes';
@import './css/typography';
@import './css/header';


//Main
.rating-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    &__top{
        margin-bottom: 14px;
        img{
            margin-right: 14px;
        }
    }
    &__rating{
        font-family: $Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: $MainColor;
    }
    &__bottom{
        font-family: $Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $MainColor;
    }

    &-inline{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 23px;
        .rating-box__left{
            margin-right: 15px;
            img{
                margin-right: 8px;
            }
            .rating-box__rating{
                font-family: $Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #C2A57B;
            }
        }
        .rating-box__right{
            font-family: $Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            color: #C2A57B;
        }
    }
}


.hero-search-section{
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &--content-wrap{
        padding-top: 62px;
        padding-bottom: 72px;
    }

    .home-page-title{
        text-align: center;
        margin: 0 0 24px 0;
    }
    .home-page-subtitle{
        font-family: $Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: lowercase;
        color: #FFFFFF;
        margin: 0 0 30px 0;
    }

    .hero-search{
        position: relative;
        max-width: 936px;
        margin: 0 auto;
        input{
            background: #FFFFFF;
            border-radius: 50px;
            font-family: $Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            align-items: center;
            letter-spacing: 0.15px;
            color: $GeneralColor;
            padding: 36px 80px;
        }
        button[type="submit"]{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
            padding: 0;
            background-color: transparent;
        }
    }
}
.tabs-section{
    overflow: hidden;
}
.tab-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    .tab-list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 47px 70px;
        font-family: $Roboto;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: capitalize;
        color: #022141;
        position: relative;
        max-width: 404px;
        width: 100%;
        &::before{
            display: none;
        }
        img{
            margin-bottom: 13px;
        }
        &.tab-list-active{
            background-color: rgba(178, 183, 188, 0.1);
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 12px;
                background-color: #C2A57B;
                bottom: 0;
                left: 0;
            }
        }
        &:not(:last-of-type):not(.tab-list-active)::after{
            content: '';
            width: 1px;
            height: 160px;
            position: absolute;
            background-color: #E2E2E2;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}

.tab-content{
    background: $GeneralColor;
    &__wrapper{
        padding-top: 86px;
        padding-bottom: 40px;
    }

    &__decor{
        position: absolute;
        z-index: 1;
        &.decor-left{
            top: -66px;
            left: -74px;
        }
        &.decor-right{
            top: 0px;
            right: -74px;
        }
    }
    &__header{
        text-align: center;
        color: $MainColor;
        margin: 0 auto 40px;
        max-width: 913px;
        position: relative;
        z-index: 2;
    }
    &__descr{
        font-family: $Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: #FFFFFF;
        max-width: 1042px;
        margin: 0 auto 75px;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    &__review{
        padding: 17px 19px;
        display: flex;
        background-color: #fff;
        margin-bottom: 30px;
        &--image{
            max-width: 300px;
            &-link{
                margin-right: 47px;
                position: relative;
                .exclusive-bonus{
                    position: absolute;
                    top: -3px;
                    right: 0;
                    background-color: #EF352F;
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                    padding: 2px 30px;
                    border-radius: 10px 0px 0px 10px;
                }
            }
        }


        &--info{
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            justify-content: center;
            &-bonus-text{
                font-family: $Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #022141;
            }
            &-bonus-subtext{
                font-family: $Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #022141;
            }
            &-additional{
                .depositBonusText,.dash{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #022141;
                }
                .termsAndConditionsText{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: $MainColor;
                }
            }
        }


        &--language{
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            &-icon{
                border: 6px solid #C2A57B;
                border-radius: 50%;
                box-sizing: content-box;
                margin-right: 9px;
            }
        }

        
        &--rating{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            &-top{
                display: flex;
                align-items: center;
                margin-bottom: 14px;
                img{
                    margin-right: 10px;
                }
                
            }
            &-number{
                font-family: $Roboto;
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                text-transform: capitalize;
                color: $MainColor;
            }
            &-reputation{
                font-family: $Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: capitalize;
                color: $MainColor;
            }
        }


        &--visit{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-affiliate-link{
                margin-bottom: 17px;
            }
            &-review-link{
                display: flex;
                align-items: center;
                a{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: #022141;
                }
                svg{
                    margin-right: 7px;
                }
            }
        }
    }
}

.games-section{
    overflow: hidden;
    &__inner-wrap{
        padding-top: 108px;
        padding-bottom: 100px;
        position: relative;
    }

    &__decor{
        position: absolute;

        &.decor-left{
            top: -52px;
            left: -132px;
        }
        &.decor-right{
            top: -49px;
            right: -137px;
        }
    }

    &__heading{
        text-align: center;
        margin: 0 0 100px;
        color: #022141;
    }

    &__category{
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-of-type){
            margin-bottom: 30px;
        }

        &-top{
            display: flex;
            align-items: flex-end;
            margin-bottom: 34px;
            img{
                margin-right: 14px;
            }
            span{
                font-family: $Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: #022141;
            }
        }
        
        &-bottom{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &-each{
                max-width: 424px;
                transition: .3s all;
                transform: scale(1);
                &:hover{
                    transition: .3s all;
                    transform: scale(1.1);
                }
                &:not(:last-of-type){
                    margin-right: 30px;
                }
                img{
                    border-radius: 20px;
                }
            }
        }
    }
}

.bonus-section {
    background-color: $GeneralColor;
    padding: 84px 0;
    overflow: hidden;
    &__wrap{
       position: relative;
       .column{
            z-index: 2;
       }
    }

    &__decor{
        position: absolute;
        z-index: 1;
        &.decor-right{
            top: -40px;
            right: -236px;
        }
    }
    &__heading{
        text-align: center;
        color: $MainColor;
        max-width: 913px;
        margin: 0 auto 94px;
    }
    &__bottom-link{
        margin-top: 80px;
    }
    &__recom--body{

        .each-review{
            padding: 17px;
            background: #FFFFFF;
            display: flex;

            .rating-box{
                align-items: flex-end;
            }
            &:not(:last-of-type){
                margin-bottom: 18px;
            }
            &__link{
                margin-right: 32px;
            }
            .info-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-right: 15px;
                max-width: 226px;
                flex-grow: 1;
                .casino-name{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    color: #022141;
                }
                .bonuses{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    span{
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: capitalize;
                        color: #022141;
                    }
                }
            }
            .info-date{
                display: flex;
                align-items: center;
                font-family: $Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: $MainColor;
                flex-grow: 1;
                justify-content: flex-end;
            }
        }
    }

    &__recom{

        &--heading{
            display: flex;
            align-items: flex-end;
            margin-bottom: 37px;
            svg{
                margin-right: 16px;
            }
            span{
                font-family: $Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    
}

.posts-section{
    padding: 86px 0 40px;
    background-color: #30475E;
    &__heading{
        margin-bottom: 86px;
        h2{
            text-align: center;
            color: $MainColor;
            margin: 0;
        }
    }

    &__grid{
        float: none;

        &--each{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            .descr-box{
                background-color: #fff;
                padding: 25px 65px;
                flex-grow: 1;
                h6{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #022141;
                }
                p{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    color: #022141;

                }
            }
        }
    }
}


.about-us-section{
    padding: 108px 0 80px;
    overflow: hidden;
    &__heading{
        position: relative;
        margin-bottom: 100px;
        &::before{
            content: "";
            position: absolute;
            bottom: -10px;
            left: -917%;
            width: 1000%;
            height: 7px;
            background-color: #C2A57B;
        }
        h2{
            text-align: center;
            color: #022141;
            margin: 0;
        }

    }

    &__advantages{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;

        &--each{
            max-width: 1470px;
            display: flex;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

            &:not(:last-of-type){
                margin-bottom: 66px;
            }

            &.advantage-right{
                align-self: flex-end;
            } 
            &.advantage-left{
                align-self: flex-start;
                flex-direction: row-reverse;
            }
            .text-section{
                max-width: 730px;
                padding: 78px 67px 110px 104px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 44px;
                    line-height: 53px;
                    color: #022141;
                }
                p{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                    color: #022141;
                }
            }

            .image-section img{
                max-width: 740px;
            }
        }
    }
}

.review-page-heading{

    padding: 66px 0 54px;

    &__heading{

        h1{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            margin: 0 0 24px;
        }

        p{
            font-family: $Roboto;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.15px;
            color: #022141;
            max-width: 1042px;
            margin: 0 auto;
        }
    }
}

.why-us{
    padding: 100px 0 0;

    &__heading{
        margin-bottom: 100px;
        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            margin: 0;
        }
    }

    &__list{

        margin-bottom: 50px;
        &--each{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 36px 30px 46px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            height: 100%;

            img{
                margin-bottom: 33px;
            }

            h6{
                font-family: $FiraSans;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 43px;
                text-align: center;
                color: #022141;
                margin: 0 0 23px;
                max-width: 384px;
            }

            p{
                font-family: $FiraSans;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #022141;
                margin: 0;
                max-width: 369px;
            }

            &-wrap{
                margin-bottom: 45px;
            }
        }
    }

    &__banner{
        display: flex;
        justify-content: flex-end;
        padding: 155px 0 94px;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-size: cover;

        .info-box{
            max-width: 1430px;
            width: 50%;
            h6{
                font-family: $FiraSans;
                font-style: normal;
                font-weight: bold;
                font-size: 74.9174px;
                line-height: 72px;
                color: $MainColor;
                margin: 0 0 37px;
            }

            p{
                font-family: $Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 26.6373px;
                line-height: 152.34%;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #022141;
                margin: 0 0 71px;
                max-width: 447px;
            }
        }
    }
}


.geo-rating{

    &__wrap{
        padding: 123px 0 116px;
        background-color: $GeneralColor;
        overflow: hidden;
    }

    &__heading{
        margin-bottom: 63px;
        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: $MainColor;
            margin-top: 0;
            margin-bottom: 86px;
        }
        p{
            font-family: $Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
            text-align: center;
            max-width: 1042px;
            margin: 0 auto;
        }
    }

    &__decor{
        position: absolute;
        z-index: 1;

        &.decor-left{
            top: -66px;
            left: -74px;
        }

        &.decor-right{
            top: 0px;
            right: -74px;
        }
    }

    &__info-box{

        &-top{

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 40px;

            h5{
                font-family: $FiraSans;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 50px;
                text-align: center;
                color: $MainColor;
                max-width: 300px;
                margin: 0;
            }

            .info-circle{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 262px;
                height: 262px;
                padding: 10px 26px;

                img, span{
                    z-index: 2;
                }
                img{
                    margin-bottom: 22px;
                    border-radius: 50%;
                    border: 10px solid $MainColor;
                }
                span{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                    color: #FFFFFF;
                }

                &-bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }

        &-list{

            &.left-list .list-item-img-box{
                background-color: #3E7B97;
            }
            &.right-list .list-item-img-box{
                background-color: $MainColor;
            }

            .list-item-wrap{
                display: flex;
                position: relative;

                &:not(:last-of-type){
                    margin-bottom: 15px;
                }

                svg{
                    max-width: 97px;
                    width: 100%;
                }

                .list-item-img-box{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 31px;
                    border-radius: 50%;
                    
                    padding: 26px;
                }

                .list-item-text-box{
                    background-color: #fff;
                    padding: 29px 60px 29px 88px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h6{
                        font-family: $FiraSans;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 29px;
                        color: #022141;
                        margin: 0;
                    }
                    p{
                        font-family: $FiraSans;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 25px;
                        color: #022141;
                        margin: 0;
                    }
                }
            }
        }
    }
}


.before-playing{
    padding: 82px 0;
    overflow: hidden;

    &__heading{
        margin-bottom: 76px;
        &>.column{
            position: relative;
        }

        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            margin: 0 auto;
            max-width: 800px;
        }
        
    }

    &__decor{
        position: absolute;
        z-index: 1;

        &.decor-left{
            top: -40px;
            left: -150px;
        }
        &.decor-right{
            top: -64px;
            right: -64px;
        }
    }

    &__body{

        &-each{

            &-wrap{
                
                &:not(:last-of-type){
                    margin-bottom: 30px;
                }
            }

            position: relative;
            background-color: #F2F2F2;

            .number-box{
                position: absolute;
                top: 0;
                left: 0;

                .num{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 72px;
                    line-height: 50px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .text-box{

                padding: 23px 167px 10px;

                h5{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    color: #022141;
                    margin: 0 0 22px;
                }

                p{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                    color: #022141;
                    margin: 0;
                }

                .expandable-box{
                    overflow: hidden;

                    .excerpt{
                        margin-bottom: 25px;
                    }

                    .restText{
                        max-height: 0;
                        transition: .3s all;
                    }

                    &.open{

                        .restText{
                            height:auto;
                            max-height:1000px;
                            transition: .3s all;
                            margin-top: 15px;
                        }

                        .show-more{
                            transition: .3s all;

                            &::after{
                                transform: rotateZ(180deg) translateY(50%);
                                transition: .3s all;
                            }
                        }
                    }
                }
            }
        }

    }
}

.country-importance{

    padding: 0 0 70px;

    &__heading{
        margin-bottom: 30px;
        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            margin: 0 auto 62px;
            max-width: 792px;
        }

        &-descr p{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 30px;
            color: #022141;

            &:not(:last-of-type){
                margin-bottom: 22px;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    &__body{

        &-each{

            &-wrap{
                
                &:not(:last-of-type){
                    margin-bottom: 20px;
                }
            }

            position: relative;
            background-color: #F2F2F2;

            .number-box{
                position: absolute;
                top: 0;
                left: 0;

                .num{
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    transform: translate(-50%, -50%);
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 72px;
                    line-height: 50px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .text-box{

                padding: 23px 167px 35px;

                h5{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    color: #022141;
                    margin: 0 0 22px;
                }

                p{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                    color: #022141;
                    margin: 0;
                }
                
            }
        }

    }
}


.tutorial{
    overflow: hidden;

    padding: 47px 0 76px;

    &__heading{

        margin-bottom: 50px;

        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            max-width: 792px;
            margin: 0 auto;
        }
    }

    &__decor{
        position: absolute;
        z-index: 1;

        &.decor-right{
            top: -150px;
            right: -168px;
        }
    }

    &__body{

        &-top{

            &-heading{
                display: flex;
                align-items: center;
                margin-bottom: 28px;
                svg{
                    margin-right: 8px;
                }
                span{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    color: #022141;
                }
            }

            &-list-item-wrap{
                padding-left: 15px;
                padding-right: 3px;
                margin-bottom: 62px;
            }

            &-list-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 43px 35px 37px;
                background: #FFFFFF;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
                height: 100%;

                h6{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    text-align: center;
                    color: #022141;
                }

                svg{
                    margin-bottom: 26px;
                }
            }

        }

        &-bottom{

            &-heading{
                display: flex;
                align-items: center;
                margin-bottom: 28px;
                svg{
                    margin-right: 8px;
                }
                span{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    color: #022141;
                }
            }

            &-list-item-wrap{
                padding-left: 15px;
                padding-right: 3px;
                margin-bottom: 62px;
            }

            &-list-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 43px 35px 96px;
                background: #FFFFFF;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
                height: 100%;

                h6{
                    font-family: $FiraSans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    text-align: center;
                    color: #022141;
                }

                img{
                    margin-bottom: 26px;
                }
            }

        }
    }
}

.faq{

    padding: 97px 0 83px;

    &__heading{

        margin-bottom: 91px;

        h2{
            font-family: $FiraSans;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 50px;
            text-align: center;
            color: #022141;
            margin: 0;
        }

    }

    &__each-item{

        background: #FFFFFF;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        overflow: hidden;

        &-wrap{
            margin-bottom: 23px;
        }

        &:not(:last-of-type){
            margin-bottom: 30px;
        }

        &-head{
            display: flex;
            align-items: center;
            cursor: pointer;

            .toggle-indicator{
                font-style: normal;
                font-weight: 600;
                font-size: 56px;
                line-height: 64px;
                text-align: center;
                letter-spacing: -1px;
                color: #FFFFFF;
                background: #C2A57B;
                border-radius: 20px;
                margin-right: 17px;
                width: 94px;
                height: 124px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h6{
                font-family: $FiraSans;
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 86px;
                letter-spacing: -0.822837px;
                color: #022141;
                margin: 0;
            }
        }

        &-body{

            max-height: 0;
            transition: 0.3s all;
            padding: 0 48px 0 111px;

            p{
                font-family: $Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 34px;
                color: #022141;
                transition: .3s all;
                opacity: 0;
            }

            p:last-of-type{
                margin-bottom: 0;
            }
        }

        &.open{
            .faq__each-item-body{
                height: auto;
                max-height: 1000px;
                transition: 0.3s all;
                padding: 0 48px 57px 111px;
                p{
                    opacity: 1;
                    transition: .3s all;
                }
            }
            .toggle-indicator{
                background-color: $GeneralColor;
            }
        }
    }
}

.text-content{
    padding: 83px 0 65px;
}

.tab-content-with-filter-wrap{
    background: #30475E;

    .tab-content__wrapper {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        &>.column{
            padding: 0;
        }
    }
}

.tabs-section.filter-section{
    .tab-list{
        padding: 0 15px;
    }
}

.tab-content-with-filter{
    padding-top: 113px;
    padding-bottom: 50px;
    .tab-content__review{

        padding: 0;

        &--img{
            max-width: 260px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
        }

        &--text-block{
            padding: 13px 0 17px;
            display: flex;
            width: 100%;

            &-left{
                border-right: 2px solid #E2E2E2;
                padding-left: 14px;
                padding-right: 40px;
                max-width: 423px;
                width: 100%;

                h6{
                    font-family: $Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: #022141;
                    margin: 0;
                }

                .fact-pros-con{

                    margin-left: 23px;
                    margin-bottom: 11px;

                    li::before{
                        display: none;
                    }
                    li{
                        display: flex;
                        .idea-bullet{
                            border-radius: 50%;
                            background-color: #BFBFBF;
                            position: absolute;
                            top: 7px;
                            left: -22px;                        
                            width: 16px;
                            height: 16px;
                        }

                        .pro-bullet{
                            border-radius: 50%;
                            background-color: #5FCC6A;
                            position: absolute;
                            top: 7px;
                            left: -22px;
                            width: 17px;
                            height: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                        }
                        .con-bullet{
                            border-radius: 50%;
                            background-color: #EF352F;
                            position: absolute;
                            top: 7px;
                            left: -22px;
                            width: 17px;
                            height: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                        }
                    }
                }

                .additional-info{
                    display: flex;
                    margin-bottom: 13px;
                    
                    svg{
                        margin-right: 8px;
                    }

                    &__box{
                        display: flex;
                        flex-direction: column;

                        .bonusText{
                            font-family: $Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 21px;
                            color: #022141;
                            margin-bottom: 9px;
                        }
                        .bonusSubtext{
                            font-family: $Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            color: #022141;
                        }
                        .termsAndConditionsText{
                            font-family: $Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 19px;
                            color: #C2A57B;
                        }
                    }
                }

                .buttons{
                    display: flex;
                    justify-content: space-around;
                }

            }

            &-right{
                max-width: 305px;
                width: 100%;
                padding: 0 0 0 25px;

                .language-opt{

                    span{
                        margin-bottom: 10px;
                    }

                    img{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 3px solid #C2A57B;
                        margin-right: 10px;
                    }
                    li{
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #022141;
                        &:not(:last-of-type){
                            margin-bottom: 10px;
                        }
                    }
                }
            }

        }
    }
}

.tab-filter-wrap{
    background: #FFFFFF;
    padding: 0 8px;
    .filter-section{
        padding: 21px 0;
        border-bottom: 2px solid #BFBFBF;
    }
    .filter-heading{
        
        h6{
            font-family: $Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #022141;
            text-align: center;
            margin: 0;
        }
    }
}


@import './css/footer'